*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*MOBILE VIEW 1*/
body{
    font-family: 'Roboto', sans-serif;
    background: url(/assets/bg.jpg) no-repeat top center; 
    background-position: right;  
    height: 30vh;
}

#login{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 300px; 
    width: 100%;

    margin: 0px auto;
    margin-top: 126px;
    padding: 15px 0px;

    border-radius: 18px;
    border: 1.5px solid rgba(60, 0, 69, 0.43);
    background-color: rgba(60, 0, 69, 0.074);
}


/*<h1> STYLLE*/
.caixa h1{
    font-size: 37px;
    color: rgba(255, 236, 222, 0.407);
    transition: 1.8s;
}
.caixa h1:hover{
    color: rgba(255, 224, 224, 0.935);
}


/*TEXTP <p> ATTRIBUTES*/
.txt{
    color: rgb(0, 195, 255);
    font-weight: 500;
    font-size: 16px;

    margin-top: 20px;
}


/*LINK <a> ATTRIBUTES*/
.link{
    text-decoration: none;
    color: rgb(255, 246, 232);
    font-weight: 400;
}




/*INPUTS CHANGES*/
.caixa input::placeholder{
    color: rgba(1, 1, 1, 0.924);
}

.caixa input:focus{
    outline: none;
}




/*INPUTS STYLLE*/
.name input{
    font-weight: 900;
    width: 160px;  
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgba(235, 235, 235, 0.85);
    color: rgba(1, 1, 1, 0.974);

    margin-top: 15px;
}


.email input, .password input{
    font-weight: 900;
    width: 160px;  
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgba(235, 235, 235, 0.85);
    color: rgba(1, 1, 1, 0.974);

    margin-top: 15px;
}


.Enter input{
    width: 70px;
    height: 41px;
    border: none;
    border-radius: 15px;
    border: 1.3px solid rgba(240, 12, 0, 0.547);
    background-color: rgba(240, 12, 0, 0.541);
    color: rgba(236, 229, 255, 0.746);
    cursor: pointer;
    font-size: 15px;
    transition: 1.4s;

    margin-top: 18px;
}

.Enter input:hover{
    border: 1.3px solid rgba(240, 12, 0, 0.709);
    background-color: rgba(240, 12, 0, 0.303);
    color: rgba(248, 245, 255, 0.918);
}

.Enter input{
    font-weight: 600;
}







/*MOBILE VIEW 2*/
@media(min-width: 570px){

    #login{
        max-width: 340px; 
    }


}






/*DESKTOP VIEW*/
@media(min-width: 700px){

    body{
        background: url(/assets/bg.jpg) no-repeat top center;   
    }

    #login{
        max-width: 400px; 
        margin-top: 162px;
    }
    
    
    /*<h1> STYLLE*/
    .caixa h1{
        font-size: 42px;
    }
    
    /*TEXTP <p> ATTRIBUTES*/
    .txt{
        font-size: 18px;
    }
    
    
    /*LINK <a> ATTRIBUTES*/
    .link{
        text-decoration: none;
        color: rgb(255, 246, 232);
        font-weight: 400;
    }


}


